@font-face {
    font-family: opensans-bold;
    src:url("fonts/OpenSans-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: opensans;
    src:url("fonts/OpenSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

body {
  margin: 0;
    max-width: 100%;
    font-family: opensans-bold, sans-serif;
    text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
.container {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*--------HEADER--------*/

  header {
    width: 100%;
    background-image: url("../image/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    padding: 1px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 120px 120px 0;
  }
  header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    background-size: cover;
    opacity: 0.6;
    
    
  }
  .menu {
    max-width: 1200px;
    content: "";
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    padding: 15px;
    margin: 0 auto 0 auto;
  }
  .menu__logo-link {
    text-decoration: none;
  }
  .menu__logo {
    width: 180px;
  }
  .menu__list {
    display: flex;
    margin-top: 13px;
  }
  .menu__item {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    margin-left: 35px;
  }
  .menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 13px;
    
  }
  .title_wrap {
    font-family: opensans-bold, sans-serif;
    font-size: 44px;
    line-height: 75px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #ffffff;
    display: block;
    text-align: center;
    top: 70px;
    left: 36px;
    padding: 2px;
    position: relative;
    z-index: 1;

  }

  /*--------------TRENDS------------*/
  .trends {
    font-family: opensans-bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
    margin-top: 50px;
  }
  .trends::after {
    content: "";
    position: relative;
    top: 480px;
    left: 805px;
    margin-bottom: 20px;
    opacity: 0.4;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
  }
  .wrp-posts {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 50px;
    gap: 4px;
  }
  .post-item {
    position: relative;
    left: 0;
    width: 25%;
    min-height: 320px;
    padding: 16px 18px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }
  .post-item::after {
    content: '';
    background-color: #000000;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .post-one {
    background-image: url("../image/trend1.jpg");
   
  }
  .post-two {
    background-image: url("../image/trend2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .post-three {
    background-image: url("../image/trend3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .post-four {
    background-image: url("../image/trend4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .wrp-text {
    border: 3px solid #b59f5b;
    padding: 18px 18px 15px 18px;
    position: relative;
    z-index: 2;
    align-self: end;
    text-align: left;
  }
  .list-post-teg {
    display: flex;
  }
  .post__category {
    display: inline-block;
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
    margin-right: 20px;
  }
  .post__text {
    font-family: opensans-bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  /*================•MAIN•===============*/

  .main_aside-wrap {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 0 auto;
  }
  main {
    margin-top: 62px;
  }
  .article__wrap {
    display: flex;
    margin-bottom: 58px;
  }
  .article__image {
    width: 382px;
  }
  .clause {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    padding-top: 2px;
    margin-left: 28px;
    text-align: left;
  }
  .themes {
    display: flex;
    margin-left: -39px;
    margin-top: -8px;
    margin-bottom: -17px;
  }
  .post-tags-item {
    list-style-type: none;
  }
  .clause__themes__link {
    /*box-sizing: border-box;*/
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    padding-right: 18px;
    letter-spacing: 0.03px;
    text-decoration: none;
    color: #b59f5b;
    text-transform: uppercase;
  }
  .clause__link {
    font-family: opensans-bold, sans-serif;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.15px;
    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
  }
  .clause__affiliation {
    display: flex;
    margin-top: 26px;
    vertical-align: baseline;
  }
  .clause__affiliation__meta {
    font-size: 12px;
    color: #888888;
    margin-right: 13px;
  }
  .clause__affiliation__user {
    font-family: opensans-bold, sans-serif;
    font-size: 12px;
    color: #000000;
  }
  .clause__preview {
    font-family: opensans, sans-serif;
    font-size: 15px;
    color: #0f0d0e;
    margin-top: 50px;
    line-height: 15px;
    letter-spacing: 0.05px;
    padding-top: 0;
  }
  /*================•ASIDE•===============*/
  .sidebar {
   width: 270px; 
   margin-top: 55px;
   margin-left: 125px;
  }
  .sidebar__title {
    line-height: 0;
  }
  .sidebar__title__text {
    width: 270px;
    margin-bottom: 23px;
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  .sidebar__title__text::after {
      content: '';
      display: block;
      height: 3px;
      width: 66px;
      background-color: #b59f5b;
    opacity: 0.400;
      margin: 19px auto 0 103px;
  }
  .post-wrap {
    margin-top: 29px;
  }
  .post_list {
    display: flex;
    padding: 0.01px;
    margin-left: -4px;
    margin-bottom: 15px;
  }
  .post_list__picture {
    width: 70px;
    height: 70px;
  }
  .post_list__text {
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    margin-top: -2px;
    line-height: 16px;
  }
  .post_list__text-meta {
    font-size: 12px;
    color: #000000;
    opacity: 0.54;
    margin-bottom: -20px;
    line-height: 1;
  }
  .post_list__text-heading {
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    letter-spacing: 0.1px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: 15px;
  }
  .field_search-wrap {
    display: flex;
    width: 271px;
    height: 50px;
    margin-top: 41px;
    margin-left: -4px;
  }
  .field_search {
    width: 270px;
    height: 48px;
    background-color: #f4f7f6;
    padding-left: 18px;
    border: none;
  }
  .button_search {
    /*box-sizing: border-box;*/
    width: 57px;
    height: 49px;
    border: none;
    background-color: #b59f5b;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
   /* background-color: #b59f5b;*/
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: right 15px center;
  }
  .sidebar__mailing {
    line-height: 0;
    margin-top: 64px;
    margin-left: -5px;
  }
  .sidebar__mailing__text {
    width: 270px;
    margin-bottom: 14px;
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  .sidebar__mailing__text::after {
      content: '';
      display: block;
      height: 3px;
      width: 66px;
      background-color: #b59f5b;
    opacity: 0.400;
      margin: 19px auto 0;
  }
  .field_mail {
    width: 254px;
    height: 50px;
    margin: 8px auto 16px -4px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 18px;
  }
  .field_mail:focus {
    background-color: #f4f7f6;
    border: 1px solid blue;
  }
  .button_mail {
    width: 272px;
    height: 49px;
    margin-left: -4px;
    font-size: 14px;
    background-color: #b59f5b;
    font-family: opensans-bold, sans-serif;
    color: white;
    text-transform: uppercase;
    border: none;
  }
  .sidebar__tegs {
    line-height: 0;
    margin-top: 66px;
    margin-left: -2px;
  }
  .sidebar__tegs__text {
    width: 270px;
    margin-bottom: 14px;
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  .sidebar__tegs__text::after {
      content: '';
      display: block;
      height: 4px;
      width: 67px;
      background-color: #b59f5b;
    opacity: 0.400;
      margin: 18px auto 24px 102px;
  }
  .tegs-wrap {
    /*width: 100%;*/
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -44px;
  }
  .tegs {
    display: block;
    list-style-type: none;
    font-family: opensans-bold, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: 3px solid #ededed;
    padding: 4px 15px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  .sidebar__themes {
    line-height: 0;
    margin-top: 62px;
  }
  .sidebar__themes__text {
    width: 270px;
    margin-bottom: 14px;
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  .sidebar__themes__text::after {
      content: '';
      display: block;
      height: 4px;
      width: 67px;
      background-color: #b59f5b;
    opacity: 0.400;
      margin: 18px auto 0;
  }
  .sidebar__themes-list {
    margin-left: -43px;
  }
  .sidebar__themes-link {
    display: flex;
    vertical-align: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 5px;
  }
  .sidebar__themes__link {
    display: inline;
    padding-top: 8px;
    text-align: left;
    font-family: opensans-bold, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
  }
  .sidebar__themes__sum {
    position: relative;
    margin-top: 6px;
    margin-left: 3px;
    font-family: opensans-bold, sans-serif;
    font-size: 12px;
    color: #b59f5b;
  }
  /*----------------Price-----------------*/
  .buy {
    font-family: opensans-bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
  }
  .buy::before {
    content: '';
    position: absolute;
    top: 2659px;
    left: 796px;
    opacity: 0.400;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
  }
  .wrp-goods {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
  }
  .good {
   width: 30%;
   text-align: center;
   padding-left: 20px;
  }
  .one-good {
    text-align: center;
    width: 301px;
  }
  .wrp-good {
    width: 348px;
    min-height: 268px;
    border: 3px solid #b59f5b;
    margin: -35px auto 0 auto;
    padding: 35px;
    position: relative;
    z-index: 1;
    text-align: left;
  }
  .good-name {
    font-family: opensans-bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    text-decoration: none;
    text-align: left;
  }
  .description {
    font-family: opensans, sans-serif;
    width: 301px;
    height: 92px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;  
    text-align: left;  
  }

  .description-link {
    font-size: 15px;
    text-decoration: none;
    color: #b59f5b;
  }
  .text-wrp-good {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .price {
    font-size: 20px;

  }
  .price-z {
    text-decoration: line-through;
    font-size: 14px;
  }
  .shop {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    text-align: center;
    font-family: opensans-bold, sans-serif;
    text-transform: uppercase;
    color:#fff;
    
  }
  /*--------------------FOOTER-------------------------*/
  .social-wrap {
    display: flex;
    justify-content: center;
  
  }
  .social-list {
    position: relative;
    margin-bottom: 70px;
    width: 1172px;
    padding: 30px 0 34px 0;
    background-color: #f4f7f6;
    background-size: 1172px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  .social-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
  }
  .social-list__dribbble {
    background-image: url("../svg/001-dribbble.svg");
    background-size: contain;
  }
  .social-list__pinterest {
    background-image: url("../svg/001-pinterest.svg");
    background-size: contain;
  }
  .social-list__tumblr {
    background-image: url("../svg/003-tumblr.svg");
    background-size: contain;
  }
  .visually-hidden {
    opacity: 0;
  }
  .copyrights {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: Open_Sans-bold, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    margin-left: 13px;
    margin-bottom: 40px;
  }
  /*------------------------POPUP---------------*/
  .popup {

  }
  .window {
    font-family: opensans-bold, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
  }
  .window::before {
    content: '';
    position: absolute;
    top: 2659px;
    left: 796px;
    opacity: 0.400;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
  }